<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <title>{% block title %}My Django Project{% endblock %}</title> {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>

    <!-- Header Section -->
<header class="one">
  
  <div class="bottom-bar ">
    <div class="container">
         <div class="row align-items-center">
            <div class="col-xl-3">
               <div class="d-flex align-items-center justify-content-between">
                  <div class="logo">
                     <a href="index.html">
                        <img alt="logo" src="/img/logo.png">
                     </a>
                  </div>
                  <div class="d-flex cart-checkout">
                    <a href="cart-checkout.html">
                        <i>
                            <svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g>
                            <path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path></g></svg>
                        </i>
                    </a>
                    <div class="bar-menu">
                         <i class="fa-solid fa-bars"></i>
                    </div>
                  </div>
               </div>
            </div>
            <div class="col-xl-6">
               <nav class="navbar">
                  <ul class="navbar-links">
                    
                    <li class="navbar-dropdown">
                      <a href="/">Menu</a>
                      
                    </li>
                    <li class="navbar-dropdown">
                      <a href="/orders">Orders</a>
                     <li class="navbar-dropdown">
                        <a href="{% url 'login' %}">Login</a>
                     </li>

                     
                   </li>

                   <li class="navbar-dropdown">
                     <a href="/register">Register</a>
                     
                   </li>

                  </ul>
                </nav>
            </div>
            <div class="col-lg-3">
               <div class="hamburger-icon">
                  <div class="donation">

                <a href="/cart" class="pr-cart">

                  <svg id="Shoping-bags" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m452 120h-60.946c-7.945-67.478-65.477-120-135.054-120s-127.109 52.522-135.054 120h-60.946c-11.046 0-20 8.954-20 20v352c0 11.046 8.954 20 20 20h392c11.046 0 20-8.954 20-20v-352c0-11.046-8.954-20-20-20zm-196-80c47.484 0 87.019 34.655 94.659 80h-189.318c7.64-45.345 47.175-80 94.659-80zm176 432h-352v-312h40v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h192v60c0 11.046 8.954 20 20 20s20-8.954 20-20v-60h40z"></path></g></svg>

                </a>

                

              </div>
                     <a href="contact.html" class="button">Reserve a Table</a>
               </div>
            </div>
         </div>
   </div>  
  </div>
  <div class="mobile-nav hmburger-menu" id="mobile-nav" style="display:block;">
      <div class="res-log">
        <a href="index.html">
          <img src="/img/logo.png" alt="Responsive Logo" class="white-logo">
        </a>
      </div>
        <ul>

          <li class="menu-item-has-children"><a href="JavaScript:void(0)">Home</a>
           
          </li>
          <li class="menu-item-has-children"><a href="JavaScript:void(0)">menus</a>
           
          </li>

          
          <li class="menu-item-has-children"><a href="JavaScript:void(0)">Offers</a>

         

          </li>
          {% comment %} <li class="menu-item-has-children"><a href="JavaScript:void(0)">Login</a> {% endcomment %}

          

          </li>
          

          <li><a href="contact.html">Register</a></li>

          </ul>

          <!-- <a href="JavaScript:void(0)" id="res-cross"></a> -->
  </div>
</header>

    <!-- Main Content Section -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer Section -->
<footer style="background-image: url(https://via.placeholder.com/1920x660);background-color: #f5f8fd;">
   <div class="container">
      <div class="row">
         <div class="col-xl-4 col-lg-6">
            <div class="logo-white">
               <a href="index.html"><img alt="logo-white" src="/img/logo-white.png"></a>
               <p>Tuesday - Saturday:   12:00pm - 23:00pm 
               <span>Closed on Sunday</span></p>
               <img alt="tripa" src="/img/tripa.png">
               <h6>5 star rated on TripAdvisor</h6>
            </div>
         </div>
         <div class="col-xl-2 col-lg-3 col-md-6">
            <div class="link-about">
               <h3>About</h3>
               <ul>
                  <li><i class="fa-solid fa-angle-right"></i><a href="about.html">Information</a></li>
                  <li><i class="fa-solid fa-angle-right"></i><a href="#">Special Dish</a></li>
                  <li><i class="fa-solid fa-angle-right"></i><a href="#">Reservation</a></li>
                  <li><i class="fa-solid fa-angle-right"></i><a href="contact.html">Contact</a></li>
               </ul>
            </div>
         </div>
         <div class="col-xl-2 col-lg-3 col-md-6">
            <div class="link-about">
               <h3>menu</h3>
               <ul>
                  <li><i class="fa-solid fa-angle-right"></i><a href="menu-1.html">Steaks</a></li>
                  <li><i class="fa-solid fa-angle-right"></i><a href="menu-1.html">Burgers</a></li>
                  <li><i class="fa-solid fa-angle-right"></i><a href="menu-1.html">Coctails</a></li>
                  <li><i class="fa-solid fa-angle-right"></i><a href="menu-1.html">Bar B Q</a></li>
                  <li><i class="fa-solid fa-angle-right"></i><a href="menu-1.html">Desserts</a></li>
               </ul>
            </div>
         </div>
         <div class="col-xl-4 col-lg-6">
            <div class="link-about">
               <h3>Newsletter</h3>
               <p>Get recent news and updates.</p>
               <form class="footer-form">
                  <input type="text" name="Enter Your Email Address" placeholder="Enter Your Email Address...">
                  <button class="button">Subscribe</button>
               </form>
            </div>
         </div>
      </div>
      
   </div>
</footer>

</body>
</html>
