<%- include('./partials/header') %>
<section class="gap">
    <div class="container">
       <form class="woocommerce-cart-form">
             <div style="overflow-x:auto;overflow-y: hidden;">
               <table class="shop_table table-responsive">
                     <thead>
                         <tr>
                             <th class="product-name">Product</th>
                             <th class="product-quantity">Quantity</th>
                             <th class="product-subtotal">Total</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td class="product-name">
                                 <img alt="img" src="https://via.placeholder.com/111x111">
                                 <div>
                                     <a href="#">Blue Cheese & Ham</a>
                                     <span>Sausage, three rashers of streaky bacon</span>
                                 </div>
                             </td>
                             <td class="product-quantity">
                                 <input type="number" class="input-text" value="1">
                             </td>
                             <td class="product-subtotal">
                                 <span class="woocommerce-Price-amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>9.00</bdi></span>
                             </td>
                         </tr>
                         <tr>
                             <td class="product-name">
                                 <img alt="img" src="https://via.placeholder.com/111x111">
                                 <div>
                                     <a href="#">Blue Cheese & Ham</a>
                                     <span>Sausage, three rashers of streaky bacon</span>
                                 </div>
                             </td>
                             <td class="product-quantity">
                                 <input type="number" class="input-text" value="1">
                             </td>
                             <td class="product-subtotal">
                                 <span class="woocommerce-Price-amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>9.00</bdi></span>
                             </td>
                         </tr>
                         <tr>
                             <td class="product-name">
                                 <img alt="img" src="https://via.placeholder.com/111x111">
                                 <div>
                                     <a href="#">Blue Cheese & Ham</a>
                                     <span>Sausage, three rashers of streaky bacon</span>
                                 </div>
                             </td>
                             <td class="product-quantity">
                                 <input type="number" class="input-text" value="1">
                             </td>
                             <td class="product-subtotal">
                                 <span class="woocommerce-Price-amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>9.00</bdi></span>
                             </td>
                         </tr>
                     </tbody>
                    
               </table>
             </div>
          
       </form>
    </div>
 </section>
 <section class="gap">
    <div class="container">
      <form class="checkout-meta donate-page">
          <div class="row">
              <div class="col-lg-8">
                  <h3 class="pb-3">Billing details</h3>
                      <div class="col-lg-12">
                          <input type="text" class="input-text " name="billing_name" placeholder="Complete Name">
                          <input type="email" class="input-text " name="billing_email" placeholder="Email address">
                          <select name="billing_country" class="nice-select Advice country_to_state">
                              <option>Country</option>
                              <option>Select Topic 1</option>
                              <option>Select Topic 2</option>
                              <option>Select Topic 3</option>
                              <option>Select Topic 4</option>
                          </select>
                          <div class="row">
                          <div class="col-lg-6">
                              <select name="billing_country" class="nice-select Advice city">
                                  <option>City</option>
                                  <option>Select Topic 1</option>
                                  <option>Select Topic 2</option>
                                  <option>Select Topic 3</option>
                                  <option>Select Topic 4</option>
                              </select>
                          </div>
                          <div class="col-lg-6">
                              <select name="billing_country" class="nice-select Advice state province">
                                  <option>State / Province</option>
                                  <option>Select Topic 1</option>
                                  <option>Select Topic 2</option>
                                  <option>Select Topic 3</option>
                                  <option>Select Topic 4</option>
                              </select>
                          </div>
                          <div class="col-lg-6">
                              <input type="text" name="Postal_Code" placeholder="Postal Code">
                          </div>
                          <div class="col-lg-6">
                              <input type="tel" class="input-text " name="billing_phone"  placeholder="Phone">
                          </div>
                          </div>
                          <input type="text" name="Address" placeholder="Address">
                          
                      </div>
                      
              </div>
              <div class="col-lg-4">
                  <div class="cart_totals-checkout" style="background-image: url(/img/patron.jpg)">
                      <div class="cart_totals cart-Total">
                              <h4>Cart Total</h4>
                              <table class="shop_table_responsive">
                                  <tbody>
                                      <tr class="cart-subtotal">
                                          <th>Subtotal:</th>
                                          <td>
                                              <span class="woocommerce-Price-amount">
                                              <bdi>
                                                  <span class="woocommerce-Price-currencySymbol">$</span>358.00
                                              </bdi>
                                              </span>
                                          </td>
                                      </tr>
                                      <tr class="Shipping">
                                          <th>Shipping:</th>
                                          <td>
                                              <span class="woocommerce-Price-amount amount">
                                                  free
                                              </span>
                                           </td>
                                      </tr>
                                      <tr class="Total">
                                          <th>Total:</th>
                                          <td>
                                              <span class="woocommerce-Price-amount">
                                              <bdi>
                                                  <span>$</span>358.00
                                              </bdi>
                                              </span>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                      </div>
                      <div class="checkout-side">
                         <br>
                          <a href="orders"><button  type="submit" class="button"><span>Place Order</span></button></a>
                      </div>
                  </div>
              </div>
          </div>
      </form>
    </div>
 </section>
<%- include('./partials/footer') %>