<!-- templates/header.html -->
{% load static %}
<header class="one">
  <div class="bottom-bar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3">
          <div class="d-flex align-items-center justify-content-between">
            <div class="logo">
              <a href="/">
                <img alt="logo" src="/img/logo.png" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <nav class="navbar">
            <ul class="navbar-links">
              <li class="navbar-dropdown">
                <a href="/">Home</a>
              </li>
              <li class="navbar-dropdown">
                <a href="/menu">Menu</a>
              </li>
              {% if request.session.user_id %}
              <li class="navbar-dropdown">
                <a href="/orders">My Orders</a>
              </li>
              <li class="navbar-dropdown">
                <a href="{% url 'logout' %}">Logout</a>
              </li>
              {% endif %} {% if not request.session.user_id %}
              <li class="navbar-dropdown">
                <a href="{% url 'login' %}">Login</a>
              </li>
              <li class="navbar-dropdown">
                <a href="{% url 'register' %}">Register</a>
              </li>
              {% endif %}
            </ul>
            <a href="/cart" class="button cart-button">Cart</a>
          </nav>
        </div>

        <div class="col-lg-3">
          <div class="header-actions">
            {% if request.session.user_id %}
            <div class="user-profile">
              <div class="profile-trigger">
                <i class="fas fa-user-circle"></i>
                <span>{{ request.session.user_email }}</span>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
