{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="gap">
    <div class="container">
       <form class="woocommerce-cart-form">
             <div style="overflow-x:auto;overflow-y: hidden;">
               <table class="shop_table table-responsive">
                     <thead>
                         <tr>
                             <th class="product-name">OrderId</th>
                             <th class="product-quantity">Address</th>
                             <th class="product-subtotal">time</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td class="product-name">
                                 <img alt="img" src="https://via.placeholder.com/111x111">
                                 <div>
                                     <a href="#">Blue Cheese & Ham</a>
                                     <span>Sausage, three rashers of streaky bacon</span>
                                 </div>
                             </td>
                             <td class="product-quantity">
                                 <input type="number" class="input-text" value="1">
                             </td>
                             <td class="product-subtotal">
                                 <span class="woocommerce-Price-amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>9.00</bdi></span>
                             </td>
                         </tr>
                         <tr>
                             <td class="product-name">
                                 <img alt="img" src="https://via.placeholder.com/111x111">
                                 <div>
                                     <a href="#">Blue Cheese & Ham</a>
                                     <span>Sausage, three rashers of streaky bacon</span>
                                 </div>
                             </td>
                             <td class="product-quantity">
                                 <input type="number" class="input-text" value="1">
                             </td>
                             <td class="product-subtotal">
                                 <span class="woocommerce-Price-amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>9.00</bdi></span>
                             </td>
                         </tr>
                         <tr>
                             <td class="product-name">
                                 <img alt="img" src="https://via.placeholder.com/111x111">
                                 <div>
                                     <a href="#">Blue Cheese & Ham</a>
                                     <span>Sausage, three rashers of streaky bacon</span>
                                 </div>
                             </td>
                             <td class="product-quantity">
                                 <input type="number" class="input-text" value="1">
                             </td>
                             <td class="product-subtotal">
                                 <span class="woocommerce-Price-amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>9.00</bdi></span>
                             </td>
                         </tr>
                     </tbody>
                    
               </table>
             </div>
          
       </form>
    </div>
 </section>
{% endblock %}