{% extends 'base.html' %}

{% block content %}
<section class="gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="box register">
          <div class="parallax" style="background-image: url(/img/patron.jpg)"></div>
          <h3>Register Your Account</h3>
          <form method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name" required />
            <input type="email" name="email" placeholder="Email Address" required />
            <input type="password" name="password" placeholder="Password" required />
            <button type="submit" class="button">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}